<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}

<!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Us...</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome to my Ecommerce Website</p>
                </div>
            </div>
        </header>

        <div class="container">
          <div class="row">
            <center>
              <div class="col-8">
                <br><br>
                <p align="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium autem dolorem eveniet explicabo iure, minus nam natus nulla optio quae, quasi quibusdam reiciendis repellat repellendus, sapiente soluta temporibus veniam voluptatibus!</p>
                <p align="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt eligendi excepturi impedit quasi sit voluptas? Ad, debitis deleniti doloribus eius eligendi, ex incidunt laboriosam molestias nobis quia quisquam tempora voluptatem!</p>
                <p align="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt eligendi excepturi impedit quasi sit voluptas? Ad, debitis deleniti doloribus eius eligendi, ex incidunt laboriosam molestias nobis quia quisquam tempora voluptatem!</p>
                <p align="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt eligendi excepturi impedit quasi sit voluptas? Ad, debitis deleniti doloribus eius eligendi, ex incidunt laboriosam molestias nobis quia quisquam tempora voluptatem!</p>
                <p align="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt eligendi excepturi impedit quasi sit voluptas? Ad, debitis deleniti doloribus eius eligendi, ex incidunt laboriosam molestias nobis quia quisquam tempora voluptatem!</p>
                <p align="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt eligendi excepturi impedit quasi sit voluptas? Ad, debitis deleniti doloribus eius eligendi, ex incidunt laboriosam molestias nobis quia quisquam tempora voluptatem!</p>
                <p align="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt eligendi excepturi impedit quasi sit voluptas? Ad, debitis deleniti doloribus eius eligendi, ex incidunt laboriosam molestias nobis quia quisquam tempora voluptatem!</p>
                <p align="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt eligendi excepturi impedit quasi sit voluptas? Ad, debitis deleniti doloribus eius eligendi, ex incidunt laboriosam molestias nobis quia quisquam tempora voluptatem!</p>
                <br><br>
              </div>
            </center>
          </div>
        </div>

{% endblock %}